doctype html
html
  include @/@loadingio/bootstrap.ext/dist/index.pug
  head
    base(href="/")
    +css("assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("assets/lib/@loadingio/bootstrap.ext/main/index.min.css")
    +css("assets/lib/ldloader/main/index.min.css")
    +css("assets/lib/ldbutton/main/ldbtn.min.css")
    +css("assets/lib/@loadingio/loading.css/main/loading.min.css")
    +css("assets/lib/ldcover/main/index.min.css")
  body.ld-over-full-inverse.running
    .ld.ld-spinner.ld-spin.text-lg

    .w-1024.rwd.mx-auto.my-4
      h3 測試用的網頁
      p: :md
        隨機文章 :
        【手作】DIY口罩套～把口罩留給最需要的人
        【冰箱收納推薦】韓國昌信冰箱收納組合A、收納界天后二寶媽激推
        最適合宅在家健身的極速調重啞鈴
        Sponsored NutroOne
        香烤自製黑糖紅豆年糕～QQ的像烤麻糬一樣好吃！

        租屋族、小資族大力推薦【美夢雲・舒眠記憶棉床墊】超高CP值，全新舒壓體驗，輕鬆享受無負擔的極致好眠！

        Sponsored 美夢雲

        優格椰果鳳梨酥～親子烘培

        和和恬藥膳廚房/藥膳飲品/枸杞艾草山楂牛軋糖禮盒-日常漢方保養好健康
        您也可能喜歡這些文章:
        帥女孩改變人生的決定，實現挺胸的渴望！#風華平胸手術
        PR
        睡覺也能撫平皺紋？只要1滴300%高濃度，14天緊緻拉提！
        PR
        【桃園八德】親子好去處 |自助式烤肉 | 角樂園農場
        分享COVID-19疫情期間赴美~出國難回國更難 合12 洪玲妙
        不怕頭髮沒長只怕長太多！用了日本樂天連續6年NO.1的養髮液，再也不擔心禿頭！
        PR
        另一半的手是用來牽的 ! 解放洗碗的粗糙手，婚姻幸福就靠Bosch洗碗機神隊友 !
        PR
        Recommended by
        歷史上的今天:
        【走走家具新品體驗】走走模組沙發～讓居家生活更有品味！(2020-10-06)
        幸福彤話 / Xuite日誌 / 回應(1) / 引用(0)
        簡單自製優格~雙槽電子鍋簡單食...|日誌首頁|清蒸檸檬鱸魚
        引用
        本文的引用網址　 https://blog.xuite.net/fuli520520new/yogurt/590059145/track  
        第一頁  上一頁  1 下一頁  最後頁 
        回應
        2021-10-20 00:20:01從cht登入的Xuite站長群 前往Xuite站長群的日誌
        親愛的日誌格友 您好，

        由於您的日誌文章創作內容優質，我們將推薦您所發表的這篇文章呈列於日誌首頁的 首選推薦 當中，格友們可藉由點閱優質日誌文章同時，亦可學習觀摩。

        感謝您對 Xuite日誌 的支持，期待您更多的優質創作，讓 Xuite日誌 能更美好。

        Xuite站長群

        第一頁  上一頁  1 下一頁  最後頁 
        FB粉絲頁





        文章分類
        全部展開|全部收合
        幸福彤話&君辰愛分享居家生活
        君辰沛愛分享育兒好物
        幸福彤話&君辰愛分享禮盒推薦
        幸福彤話&君辰愛分享美食推薦
        幸福彤話&君辰愛分享清潔用品
        幸福彤話&君辰愛分享防疫好物
        幸福彤話&君辰愛分享廚房好物
        幸福彤話&君辰愛分享健康保健
        君辰沛愛分享寶寶點心副食品
        君辰愛分享保養、沐浴、彩妝
        幸福彤話育兒交流
        芳蓉優格影片教學
        芳蓉優格DIY教學
        國際牌水波爐料理
        氣炸鍋烤箱料理食譜
        親子烘焙點心料理
        DIY優格飲品
        DIY早餐食譜
        芳蓉DIY花果茶料理
        芳蓉DIY輕食優格
        芳蓉DIY優格蛋糕
        萬聖節搞怪派對點心
        芳蓉家常菜食譜
        DIY優格麵包
        DIY饅頭
        聖誕節派對點心
        蒸煮湯包的好方法
        熱壓三明治鬆餅機食譜
        電烤盤料理食譜
        特福智能萬用鍋食譜
        雙槽電子鍋料理食譜
        最新文章
        【優格機推薦】芳蓉優格機/芳蓉優格定時控溫優格機-美味優格輕鬆做
        熱壓蟹肉棒蔥抓餅~雙盤熱壓機食譜
        原味時代/減醣貝果/手工窯烤Pizza/千張月亮蝦餅/減醣料理新選擇
        義大利Giaretti 珈樂堤/手持平掛兩用蒸氣熨斗/掛燙機/極緻美感/輕鬆整平衣物/即燙即穿超簡單
        芒果優格蛋糕捲～雙盤熱壓機食譜
        簡單醬燒牛肉&醬燒雞腿鍋巴飯~雙槽電子鍋簡單食譜
        酸V酸V的檸檬塔~雙盤熱壓機食譜
        SONGEN松井/芳饗宴多功能蒸煮料理鍋/4L大容量/煎/煮/炒/燉樣樣行
        熱壓香Q優格地瓜球～雙盤熱壓機食譜
        鉅瑋商城/LICK力可潔多功能擦拭布-柔韌款&柔厚款/可水洗不易破/SGS檢驗合格好安心
        酥皮蘋果派/


    +script("assets/lib/bootstrap.native/main/bootstrap-native-v4.min.js")
    +script("assets/lib/@loadingio/ldquery/main/ldq.min.js")
    +script("assets/lib/ldcover/main/index.min.js")
    +script("assets/lib/ldloader/main/index.min.js")
    +script("assets/lib/proxise/main/proxise.min.js")
    +script("assets/lib/@plotdb/opentype.js/main/opentype.js")
    +script("assets/lib/@xlfont/load/dev/xfl.js")
    script: include:lsc index.ls
